extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1 MEAN
        small &nbsp; Поиск места для работы с вафлей для тебя!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
          a(href='/location') Starcups?!
          small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          span.bange.pull-right.bange-default 100m
        p.address 125 high steet, reweq
        p
          span.label.label-warning hot drinks
          | &nbsp;
          span.label.label-warning hot drinks
          | &nbsp;
          span.label.label-warning hot drinks
          | &nbsp;
    .col-xs-12.col-sm-4
      p.lead lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
      loremloremloremloremlorem s
      loremloremloremloremloremloremlorem

  h1= title
  p Welcome to #{title}
